@import "tailwindcss" source("../app");

@theme {
  --font-sans: TaiymeEN, TaiymeCJK, sans-serif;

  --animate-bounce-right: bounce-right 2s infinite;

  @keyframes bounce-right {
    0%, 100% {
      transform: none;
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateX(25%);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
  }

  @keyframes fade-out {
    to {
      opacity: 0;
    }
  }

  @keyframes slide-from-right {
    from {
      transform: translateX(2rem);
    }
  }

  @keyframes slide-to-left {
    to {
      transform: translateX(-2rem);
    }
  }
}

@custom-variant hover-active-without-focus {
  @media (hover: hover) {
    &:hover:not(*:focus-visible) {
      @slot;
    }
  }

  &:active:not(*:focus-visible) {
    @slot;
  }
}

@custom-variant hover-focus-active {
  @media (hover: hover) {
    &:hover {
      @slot;
    }
  }

  &:focus-visible,
  &:active {
    @slot;
  }
}

@layer base {
  @view-transition {
    navigation: auto;
  }

  ::view-transition-old(layout-content) {
    animation:
      90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
      300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
  }

  ::view-transition-new(layout-content) {
    animation:
      210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
      300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
  }

  @variant motion-reduce {
    ::view-transition-group(*),
    ::view-transition-old(*),
    ::view-transition-new(*) {
      animation: none !important;
    }
  }
}

@utility u-break-anywhere-strict {
  @apply wrap-anywhere;
  word-break: normal;
  line-break: strict;
}

@utility u-font-smoothing {
  @apply antialiased;
  text-rendering: optimizeLegibility;
}

@utility u-p-safe {
  padding:
    env(safe-area-inset-top)
    env(safe-area-inset-right)
    env(safe-area-inset-bottom)
    env(safe-area-inset-left);
}

@utility u-focus-ring {
  @apply focus-visible:ring-2 focus-visible:ring-blue-500/50 focus-visible:outline-hidden;
}

@font-face {
  font-family: TaiymeEN;
  font-weight: 100 500;
  src: local("HelveticaNeue"), local("ArialMT");
}

@font-face {
  font-family: TaiymeEN;
  font-weight: 600 900;
  src: local("HelveticaNeue-Bold"), local("Arial-BoldMT");
}

@font-face {
  font-family: TaiymeCJK;
  font-weight: 100 500;
  src: local("HiraginoSans-W3"), local("HiraKakuProN-W3"), local("BIZ-UDPGothic"), local("Meiryo");
}

@font-face {
  font-family: TaiymeCJK;
  font-weight: 600 900;
  src: local("HiraginoSans-W6"), local("HiraKakuProN-W6"), local("BIZ-UDPGothic-Bold"), local("Meiryo-Bold");
}
